# Exclude Windows Image File Caches
Thumbs.db
ehthumbs.db

# Exclude All
/*

# Gradle Files/Folders
!gradle/
!gradlew
!gradlew.bat
!build.gradle

# Sourcecode Folder
!src/

# Markdowns Files
!README.md
!LICENSE

# GIT Files
!.gitignore